// Import variables
@import '../variables.less';

// Styles
body {
    background: @black;
    margin: 0 auto;
    padding-top: 0;
    font-size: 70%;
}

.title {
    display: flex;
    padding: 0 30px;
    color: #FFF;
    font-weight: normal;
}

#root {
    background-color: #f7f7f7;
    margin: 0 auto;
    padding: 0;
    max-width: 765px;
}

.test__app {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed, sans-serif';
    font-size: 16px;
    background-color: @white;
    color: @black;
}
