// Import variables
@import '../../variables.less';

// Styles
.test__Hotel {
    margin: 0;
    padding: 20px 10px;

    h3 {
        text-decoration: underline;
    }

    .test__Hotel--logo {
        width: 150px;
        height: 100px
    }
}

.test__Hotel--numbers {
    font-style: italic;

    .__number-bold {
        font-style: normal;
        font-weight: bold;
    }
}

.test__Hotel--sort {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    select {
        margin-left: 5px;
    }
}
