// Import variables
@import '../../variables.less';

// Styles
.test__List--hotel {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 10px 0;
    width: 100%;

    .__hotel--image {
        margin-top: 5px;

        .__hotel--promotion {
            position: absolute;
            top: 10px;
            left: 0px;
            color: @red;
            background: @white;
            padding: 5px;
            border: 1px solid @lightGrey;
            font-size: .8em;
        }
    }

    .__hotel--details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin-left: 14px;
        border-top: 1px solid @lightGrey;
    }

    .__hotel--info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 10px;
    }

    .__hotel--adress {
        font-size: 10px;
        color: @grey;
    }

    .__hotel--offer {
        font-size: .8em;
        color: @red;
    }

    .__hotel--cancel {
        font-size: 10px;
        color: @green;
    }

    .__hotel--price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0 20px 10px 0;
        width: 140px;
    }

    .__hotel--currency {
        font-size: 10px;
    }

    .__hotel--amount {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: 10px 0;
        font-size: 1.4em;

        .__amount--sign {
            font-size: 10px;
            margin: 3px 2px 0 0;
        }
    }

    .__hotel--save {
        font-size: .9em;
        color: @red;
    }
}

@percent: ~"calc(var(--rating) / 5 * 100%)";

.star {
  display: inline-block;
  font-size: 16px;
  font-family: Times;
  line-height: 1;
  margin-left: 5px;

  &::before {
    content: '\2605\2605\2605\2605\2605';
    letter-spacing: 3px;
    background: linear-gradient(90deg, @yellow, @percent, @lightGrey @percent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.self {
    display: inline-block;
    font-size: 18px;
    font-family: Times;
    line-height: 1;
    margin-left: 5px;
  
    &::before {
      content: '\25CF\25CF\25CF\25CF\25CF';
      letter-spacing: 3px;
      background: linear-gradient(90deg, @yellow, @percent, @lightGrey @percent);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

